.solid {
    color: gray;
    
}

#cards {
    float:right;
    border: 15px whitesmoke;
    padding: 15px;
    margin: auto;
} 


.h3 {
    float:right
}

#figure,
#summary,
#graph_img {
    float: left;
    border: 15px whitesmoke;
    padding: 15px;
    margin: auto;
    font-size: large;
}

#figure {
    position: relative;
}


#graph_img {
    width: 400px;
    height: auto;
    margin-right: 20px;
}

#navbarSupportedContent {
    align-items: left;
}

.dropdown-menu,
.nav-item a:hover {
    background-color: lightgray;
}

.dropdown-menu,
.nav-item {
    margin-right: 10px;
}

#comparison_grid {
    margin: auto;
    margin-top: 5%;
}

#top {
    padding-bottom: 10px;
}

#top2 {
    padding-bottom: 50px;
}
